.contenedor{
    display: flex;
}

.side{
    background-color: #111111;
    min-height: 100vh;
    padding: 10px 25px;
    color: whitesmoke;
    font-size: 25px;
}

.buscador{
    padding: 10px 25px;
    width: 100%;
}


